body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #5A2971;
}

a {
	text-decoration: none;
}

.header {
}

.header .nav {

}

.nav .nav-logo {
	padding-top : 15px;	
	padding-left : 50px;
}

.header .nav .navbar {
	float: right;
	margin-right: 50px;
	
}

.navbar ul {
	list-style: none;
	display: inline-block;
	display: inline-flex;
}
.navbar li {
	padding: 10px;
}

.navbar li:hover {
	border-bottom: 1px solid #5A2971;
}

.banner {
	background: black;
	text-align: center;
	clear: both;
	background: url(./images/bgimage.jpg);
	height: 600px;
	background-size: cover;
}

.banner h1 {
	text-align: center;
	padding-top: 200px;
	font-size: 3em;
}

button .btn-all {
	border: none;
	outline: none;
	padding: 15px 30px;
	border-radius: 5px;
	background: #5a2971;
	font-size: 20px;
	color: #ffc;
}

button {
	border: none;
	outline: none;
	padding: 15px 30px;
	border-radius: 5px;
	background: #5a2971;
	font-size: 20px;
	color: #ffc;
	-webkit-transition: border-radius 2s;
}

button:hover {
	border-radius: 20px;
	background: #56017dbf;
	cursor: pointer;
	padding: 20px 30px;
}

.main-section {
	text-align: center;
	margin-top: 50px;
}

.main-section h2 {
	border-bottom: 1px solid #ffc;
}

.main-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main-content .browse {
	margin: 15px;
	width: 300px;
	height: 415px;
	background-size: contain;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
	border : 1px solid #ffc;
	border-radius: 10px;
	box-shadow: 4px 4px 5px 4px #a396a9bf;
	transition: 2s box-shadow;
}

.browse img {
	background: black;
}

.browse img:hover {
	transform: scale(1.1);
}

/*Top 100 CSS */

.music-list-wrapper {
	background: #f1f3f4;
	margin: 0 auto;
	width: 60%;
	padding: 10px;
	border: 1px solid #a396a94f;
	border-radius: 5px;
}

.music-list-wrapper .music-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 3px;
	border-bottom: 1px solid #a396a94f;
	border-radius: 10px;
}

.music-list-wrapper .music-container:hover {
	box-shadow: 3px 0px 8px 0px #a396a9bf;

}

.music-list-wrapper .music-container .song-title {
	margin: 20px;
	float: left;
	font-size: 15px;
}

.music-list-wrapper .music-container audio {
	cursor: pointer;
}
.music-list-wrapper .music-container .audio-size {
	float: right;
}

.customise-playlist {
	clear: both;
}