
body {
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
	color: #46494C;
	position: relative;
	box-sizing: border-box;
}
.intro-container {
	background-color: #EBEBEB;
	height: 600px;
}
.intro-container .logo {
	font-family: pacifico;
	padding: 15px;
}
.intro-container .intro-speech {
	padding-top: 150px;
	margin: 20px;
	height: 700px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	line-height: 0.3;
}
.intro-speech .name {
	color: #FEC62F;
	letter-spacing: 2px;
	font-size: 40px;
}
.thin {
	font-weight: lighter;
}

.intro-speech .text-header p{
	letter-spacing: 5px;
}
.intro-speech .text-header button a {
	text-decoration: none;
	font-size: 16px;
	font-family: inherit;
	font-weight: bold;
	padding: 10px 20px !important;
	transition: all 0.4s ease-in ;
}
.intro-speech .text-header button {
	padding: 10px 20px !important;
	border-radius: 5px !important;
	outline: none !important;
	cursor: pointer;
	font-size: 16px;
	text-decoration: none !important;
	font-family: inherit;
	border: none !important;
	box-shadow: 2px 5px 6px #C2C1C2;
	transition: all 0.4s ease-in-put 0s;
}
.text-header button:hover {
	transition: all 0.3s ease;
	background-color: #363732;
}
.intro-speech .text-header .role{
	letter-spacing: 2px;
	font-size: 20px;
}
.intro-speech .picture img{
	width: 400px;
}	
.obj-container {
	background-color: #fff;
	padding-top: 100px;
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
.obj-container .obj-text {

}
.skills-container {
	margin-top: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #363732;
	color: #EBEBEB;
	text-align: center;
}
.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
}
.skills-container .skill1{
	width: 100px;
	height: 100px;
	border: 1px solid #FEC62F;
	border-radius: 50%;
	text-align: center;
	margin: 20px;
}
.skills-container .skill1 div {
	padding-top: 40px;
}
.xp-container {
	background-color: #EBEBEB;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}
.xp-container .xp-all {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.xp-container .xp {
	margin-left: 50px;
	background-color: #EBEBEB;
	padding: 20px;
	margin: 20px;
	line-height: 30px;
	border-radius: 10px;
	box-shadow: 2px 5px 6px #C2C1C2;

}
.xp-container .xp .role {
	font-size: 15px;
	font-weight: bold;
}
.xp-container .xp .company {

}
.xp-container .xp .date {
	font-size: 10px;
}
.education {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #363732;
	color: #EBEBEB;
	text-align: center;
}
.education .all-schools {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}	
.education .all-schools .sch {
	line-height: 25px;
	margin: 20px;
}
/*.ruler {
	height: 40px;
	width: 1px;
	background-color: #eee;
}*/
.education .all-schools .sch .cert {
	color: #FEC62F;
	font-style: italic;
}
.education .all-schools .sch .school {
	font-size: 12px;
}

#contact-form{
	background: #ebebeb24;
	color: #363732;
	width: 100%;
	overflow: hidden;
	transition: all 0.4s ease-in ;
}
#contact-form .form-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 80px 0;
	height: 400px;
	text-align: center;
}
.form-container h1 {
	font-size: 40px;
	transition-duration: 1s;
	transition-timing-function: ease-in-put;
	font-weight: 200;
}
form{
	padding: 20px 0;
	position: relative;
	z-index: 2;
}
form input, textarea {
	display: block;
	appearance: none;
	outline: 0;
	border: none solid fade(white, 40%);
	background-color: fade(white, 20%);
	width: 300px;
	border-radius: 6px;
	padding: 10px 20px;
	margin: 0 auto 10px auto;
	display: block;
	text-align: left;
	font-size: 18px;
	color: #000;
	outline: none;
	transition-duration: 0.25s;
	font-weight: 300;		
}	
input:hover {
	background-color: fade(#fff, 40%);
	}
input:focus{
	background-color: fade(#fff,30%);
	width: 350px;
	color: #000;
}
form button {
	appearance: none;
	outline: 0;
	background-color: #363732;
	border: 0;
	padding: 10px 20px;
	color: #FEC62F;
	border-radius: 3px;
	width: 350px;
	cursor: pointer;
	font-size: 18px;
	transition-duration: 0.25s;
}
form button:hover {
	background-color: #363732;
}
.footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #EBEBEB;
}
.footer .contact-link {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-sizing: border-box;
}

.contact-link a {
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
}
.contact-link .padding {
	padding: 10px;
}
.download {
	background-color: #FEC62F;
	border-radius: 10px;
	padding: 10px 20px;
	box-shadow: 2px 5px 6px #C2C1C2;
}
a:hover {
	color: #FEC62F;
}
.download a {
	
}
.download:hover {
	background-color: #363732;
}
