body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #5A2971;
}

a {
	text-decoration: none;
}

.header {
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav {
	background-color: #333;
	overflow: hidden;
}


.nav a{
	padding: 20px 30px;
	list-style: none;
	display: inline-flex;
	text-decoration: none;
	color: #ffc;
	text-align: center;
}


.nav a:hover {
	background-color: #5a2971;
	color: #ffc;
}

.active {
	background-color: transparent;
	color: #5a2971;
}

.nav .icon {
	display: none;
}

.banner {
	clear: both;
	margin: -43px;
	background: black;
	text-align: center;
	clear: both;
	background: url(./images/bgimage.jpg);
	height: 600px;
	background-size: cover;
}

.banner h1 {
	color: #ffc;
	padding: 10px;
	text-align: center;
	padding-top: 200px;
	font-size: 4em;
}

button .btn-all {
	border: none;
	outline: none;
	padding: 15px 30px;
	border-radius: 5px;
	background: #5a2971;
	font-size: 20px;
	color: #ffc;
}

button {
	border: none;
	outline: none;
	padding: 15px 30px;
	border-radius: 5px;
	background: #5a2971;
	font-size: 20px;
	color: #ffc;
	-webkit-transition: border-radius 2s;
}

button:hover {
	border-radius: 20px;
	background: #56017dbf;
	cursor: pointer;
	padding: 20px 30px;
}

.main-section {
	text-align: center;
	margin-top: 50px;
}

.main-section h2 {
	border-bottom: 1px solid #ffc;
}

.main-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main-content .browse {
	margin: 15px;
	width: 300px;
	height: 415px;
	background-size: contain;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
	border : 1px solid #ffc;
	border-radius: 10px;
	box-shadow: 4px 4px 5px 4px #a396a9bf;
	transition: 2s box-shadow;
}

.browse img {
	background: black;
}

.browse img:hover {
	transform: scale(1.1);
}

/*Top 100 CSS */

.music-list-wrapper {
	background: #f1f3f4;
	margin: 0 auto;
	width: 60%;
	padding: 10px;
	border: 1px solid #a396a94f;
	border-radius: 5px;
}

.music-list-wrapper .music-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 3px;
	border-bottom: 1px solid #a396a94f;
	border-radius: 10px;
}

.music-list-wrapper .music-container:hover {
	box-shadow: 3px 0px 8px 0px #a396a9bf;

}

.music-list-wrapper .music-container .song-title {
	margin: 20px;
	float: left;
	font-size: 15px;
}

.music-list-wrapper .music-container audio {
	cursor: pointer;
}
.music-list-wrapper .music-container .audio-size {
	float: right;
}

.customise-playlist {
	clear: both;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}